body {
  padding-top: 50px;
  font-family: monospace;
  background-image: url("../img/banner.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-color: black;
}

.nav {
  border-bottom: 2px solid black;
}

.content {
  padding: 40px 15px;
  text-align: left;
  background-color: white;
}

.card {
  display: inline-block;
  text-align: center;
  margin: 10px;
  border: solid #333 2px;
}

.dead {
  border: 2px solid rgba(0,0,0,0);
}

.card img {
  width: 100px;
  height: 100px;
}

.dead img {
  opacity: 0.5;
  filter: grayscale(100%);
}

.dead .photo {
  background: rgba(255, 0, 0, 0.5);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.dead {
  color: red;
}

h1 {
  font-family: 'Road Rage', sans-serif;
  color: #4e0000;
  text-align: center;
  -webkit-text-fill-color: #d30000;
  -webkit-text-stroke: 1px;
}

#countdown {
  background: #333;
  width: 100%;
  color: white;
  margin-top: -30px;
  margin-bottom: 30px;
  padding: 0 10px 0 10px;
  text-align: center;
}
