{{#> layouts/base title="FAQ" }}

  <p class="lead">Will we know how many wolves there are?</p>
  <p>No. All roles are described on the <a href="rules.html">rules page</a>, but players will not know the initial Werewolf or Regular Cop counts. The majority of players will be Regular Cops.</p>

  <p class="lead">Can players have more than one role?</p>
  <p>Players will be assigned no more than one special role by the moderator. There is an exception where a Werewolf is unknowingly assigned as a Lover by the Cupid.</p>

  <p class="lead">Can the Werewolves turn Regular Cops into more Werewolf Cops?</p>
  <p>No, the roles will not change once the game starts.</p>

  <p class="lead">Do Werewolf Cops get to vote to hang someone, as well as eat someone?</p>
  <p>Yes, all players including Werewolves (in human form during the day/evening) get to cast individual hanging votes.</p>

  <p class="lead">What if I don't get my vote in on time?</p>
  <p>Your vote is simply not taken into account for that evening.</p>

  <p class="lead">Can I change my vote?</p>
  <p>If you vote more than once, your most recent vote before 4:30pm is counted.</p>

  <p class="lead">Will other players know how I voted?</p>
  <p>No. Individual votes and counts will not be made public. Only the voting outcomes will be announced.</p>

  <p class="lead">What happens if there are two players tied with the most hanging votes?</p>
  <p>The players were unable to reach a clear decision and no one is hung that evening.</p>

  <p class="lead">Can I vote NOT to hang someone?</p>
  <p>Yes. You may explicitly vote not to hang someone that evening. This could override a hanging if No Hang has the highest number of votes.</p>

  <p class="lead">When will I know the result of my role's special ability?</p>
  <p>All cop votes, wolf kills, and special ability targets are submitted before 4:30pm. Any results or new information will be provided at the same time the next morning around 9am EST.</p>

{{/layouts/base}}
