body {
  padding-top: 50px;
  font-family: monospace;
}
.content {

  padding: 40px 15px;
  text-align: left;
}

.card {
  display: inline-block;
  text-align: center;
  margin: 10px;
  border: solid #333 2px;
}

.dead {
  border: 2px solid rgba(0,0,0,0);
}

.card img {
  width: 100px;
  height: 100px;
}

.dead img {
  opacity: 0.5;
  filter: grayscale(100%);
}

.dead .photo {
  background: rgba(255, 0, 0, 0.5);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.dead {
  color: red;
}

h1 {
  font-family: 'Road Rage', sans-serif;
  color: #d30000;
  text-align: center;
}



.gravestone {
  width: 600px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../img/gravestone.png");
  margin: 10px;

  color: #444;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: serif;
  padding-top: 100px;
  text-shadow: 2px -2px #999;
  font-size: 10px;
}

.gravestone, .name {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 28px;
}
.gravestone, .lines {
  font-size: 20px;
}
.gravestone, .died {
  margin-top: 10px;
  font-size: 12px;
}
