{{#> layouts/base title="🎃 Welcome to Joistown 🎃" }}

  <div id="countdown">&nbsp;</div>

  <p class="lead">Day 3: Vote For Pedro</p>
  <p>Election season was in full swing, as several ambitious Joistownies sought to fill the town's mayoral vacuum. Posters were up, and handbills littered the cobblestones of the town square. Rallys were held and speeches were given- order and peace would soon return!</p>
  <p>There was however one gathering which was not advertising the same optimism as the others. It was a demonstration of fear and hatred. Speakers clamored for an aggressive response to what the other "sheep" had been brushing off as a silly werewolf conspiracy. The names Vidhi & Wendy came up as persons of interest and a mob broke out to find them. It didn't take long, and they were dragged out to the gallows in the town square. But there was uncertainty whether the executioner was out of office that day, or at least paying attention. But he was! Mostly! Out came the nooses and poor Vidhi & Wendy were strung up. They dangled for a bit, and perished, but no indications of supernatural werewolfness were observed.</p>
  <p>Nightfall fell again, and a group of townsfolk transformed once more into werewolves on the edge of town. They approached Paul & Peter's apartment more cautiously this time and cut the power at the back of the building. Knowing the alarms and lights were disabled, they crept into the lobby where the doorman was still nowhere to be found. They rode the elevators up to every floor and gobbled up each apartment's occupants one by one as they slept.</p>

  <p class="lead">Day 2: Watch Your Back</p>

  <p>The town descended quickly into chaos now that their leadership had been eliminated. People weren't exactly willing to speak openly, but accusations flowed freely behind closed doors and inside dingy basements. Long-simmering personal grievances fueled escalating threats of violence.</p>
  <p>"Someone's been stealing from my pumpkin patch and I KNOW it's those Ryan & Sandeep punks running around out all night probably. They're suspicious as all hell and I've had it up to here with their no good ways!"</p>
  <p>"I just found out I've been overpaying for my morning coffee for months! Damn are those decaf soy lattes ever tasty, and I was happy to pay $4, but then Bill tells me Sunny & Sushani have only been charging him $3?! Outrageous! What do they think of me?! That cafe of theirs should be burned to the ground with them in it!"</p>
  <p>Despite some hysterics, no one managed to galvanize a large enough group to take action. It was all bark and no bite, for now.</p>
  <p>Nightfall fell, and some townsfolk did go out to meet on the edge of town. They transformed under light of the moon and set out for a midnight snack. Paul & Peter's apartment building was quiet and peaceful as the beasts approached with speed then burst into the lobby entrance. There was no doorman there at his post, but luckily it would seem that someone had configured a security alarm to guard and protect Paul & Peter's home as they slept. Sirens and lights went off with blistering volume and flash. The werewolves recoiled and dashed back out into the night.</p>

  <p class="lead">Day 1: Enough Is Enough</p>

  <p>Mayor Wilkins squeezes his way through the crowd, weaving toward the edge of the fountain at the center of the Square. It looks like everyone's come out this morning. There would be much to discuss. Wilkins had read the coroner's report, and wasn't certain how much of it he should actually share. The document's medically precise account of the incident at Theresa Townsman's house was too disturbing to even consider repeating. That poor boy.</p>
  <p>"My fellow Joistonians! Today I am filled with a profound sadness. As I'm sure you've all heard by now, there was an unfortunate incident the other night involving a local mother and her child. We are still investigating the facts, but I am here before you today to confirm that the mother has unfortunately succumbed to her injuries sustained while resisting arrest. I can assure you that our town is safe and everything is under control."</p>
  <p>"<i>UNDER CONTROL??</i>", a voice roars from the crowd, "I heard she was DISEASED and OUTTA control! How do we know this isn't going to happen again?!"</p>
  <p>"My friends, my friends... I know these have been challenging times for all of us. Please try to remain calm and allow your leadership to handle this. We are expecting-"</p>
  <p>A chunk of Town Square brick thwops the Mayor in his chest, knocking him into the fountain with a splash.</p>
  <p>"We've been waiting months and months for relief! It's time to take matters into our own hands!", continues the anonymous voice as the crowd erupts into an unruly mob.</p>
  <p>A different, even louder voice pipes in, "We all knew Theresa Townsman, let's stop the dancin around it. That dog attack changed her, and it weren't no mutt... it were one of them WEREWOLVES! You politico bastards are probably ALL WEREWOLVES."</p>
  <p>Arms thrust forward and haul the now shrieking Mayor out of the water by his lapels. He is dragged toward the old gallows nearby...</p>
  <p>"We'll hang em all ourselves before they get us at night!"</p>

  <p class="lead">Day 0: It Begins</p>

  <p>An agitated howl in the distance reminds Timmy Townsman he's long since run out of time for scavenging deadfall. He hasn't been having much luck this evening anyway... the woods not far from the edge of town have been completely picked over for weeks now. He looks at the few meager branches he's managed to find and decides they'll have to do. Besides, his ailing mother would be anxiously awaiting his return before nightfall.</p>
  <p>The past few months have been particularly hard on the residents of Joistown. Local farmland has been producing less and less food and the people are hangry. Economic activity has slowed to a halt, and it's uncommon to see people congregating outside of their immediate households.
  <p>Timmy manages to make it home and through the door just as the final rays of sunlight evaporate beyond the horizon. The woodstove provides enough of a faint glow to see his mother has managed to tuck herself into bed. She is restless and appears in the midst of another feverish nightmare. Timmy wets a towel at the sink and presses it gently to her forehead. Her physical recovery since the dog attack seems on the right track, but she has been taking on more and more extreme emotional states at night.</p>
  <p>The woodstove flickers- Timmy's cue to feed it another branch. He reminds himself to carefully ration the wood so it lasts until morning. Crouched down by the stove, he brings it back to life, causing new shadows to dance strangely across the room. He turns, and sees his mother towering suddenly over him, twisted and wild-eyed. It's his mother alright, but she's become nearly unrecognizable to Timmy. The glow of the room turns to darkness.</p>
  <p>---</p>
  <p style="color:red">YOU are a resident of Joistown. There is a meeting at the town square, Monday morning at 9am EST, to discuss what is to be done about what was discovered at the Townsman residence.</p>
  <p>---</p>
  <p>If you choose to participate, join #werewolf-townhall or DM @Cory in Slack to confirm.</p>
  <p>A game of Werewolf will take place beginning Monday morning, asynchronously over Slack. All players are randomly assigned a role of either Werewolf or Villager. Votes are submitted once daily anytime before 4:30pm EST until the game ends.</p>
  <p>More details around how to play will follow.</p>

  <script>
    var countDownDate = new Date("Oct 19, 2022 16:30:00-04:00").getTime();

    var x = setInterval(function() {
      var now = new Date().getTime();
      var distance = countDownDate - now;
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // document.getElementById("countdown").innerHTML = "Game begins in " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
      document.getElementById("countdown").innerHTML = "Day 1 votes due in " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
      // document.getElementById("countdown").innerHTML = "Game begins in " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "Voting closed, the town sleeps...";
        //document.getElementById("countdown").innerHTML = "The game has ended.";
      }
    }, 1000);
  </script>

{{/layouts/base}}
