{{#> layouts/base title="Welcome to Joiston" }}

  <div id="countdown">&nbsp;</div>

  <p class="lead">Day 5: What a Wild Ride</p>

  <p>Although things had been tough in Joiston, the late October costume party went ahead as planned. Everyone met in the square and were showing off their costumes.</p>
  <p>Jason Slater had chosen to dress up as a cowboy – complete with spurs and a fancy revolver.</p>
  <p>“Wow Jason, that’s a cool costume!” exclaimed a non-descript Villager who no one could recall their name.</p>
  <p>In fact, all of the costumes were interesting and you could tell everyone had put in a bunch of work into them.</p>
  <p>Liz entered the square and she definitely had the best costume but perhaps a little out of place. Liz came dressed as a WEREWOLF.</p>
  <p>Jason approached Liz and whispered “Liz! Great costume but perhaps given the current circumstances, this wasn’t the best choice for a costume…”</p>
  <p>Liz yelled “But it isn’t a costume!” and lunged at Jason’s neck and bit down hard. As Jason began to fall to the ground, he pulled out his revolver and said “If I’m going to die, I’m taking you with me!” He pointed his gun at Manu and fired 3 shots, all striking him in the chest.</p>
  <p>Most townsfolk gasped in horror but quickly converged on Liz. Despite putting up a fight, they managed to get the noose around her neck and string her up.</p>
  <p>What will the townsfolk do?</p>

  <p class="lead">Day 4: Things that make you go “Hmmmm”</p>

  <p>It had been a challenging few days and despite some early success with “Zach Attack”, the Villagers were out of ideas.</p>
  <p>But a strong team can rally during times like these. And it was clear a rally was building, led by Manu.</p>
  <p>“I have a great idea” exclaimed Manu. Just a sec, let me open up a new query window:</p>
  <p><span style="color:orange;background-color:black;">select * from Townsfolk where type = 'Werewolf'</span></p>
  <p>But the query timed out.</p>
  <p>“I honestly thought I was onto something there” sighed Manu. Anyone else have an idea of who to hang?</p>
  <p>“I know!” exclaimed a non-descript Villager who no one could recall their name.</p>
  <p>Let’s start alphabetical! “Which sort order?” Manu added. Let’ try the opposite from what we’ve tried:</p>
  <p>Zach (gone)</p>
  <p>Yang (gone)</p>
  <p>Vrunda (gone)</p>
  <p>“Sorry Aldona!” looks like ORDER BY will be the death of you.</p>
  <p>Aldona yelled (which was very out of sorts as Aldona isn’t really the yelly type): “BUT what about &lt;lurch&gt;”. But it was too late as the noose tightened around her neck temporarily preventing her from speaking.</p>
  <p>“I’m so disappointed in you all” were her last words and she pulled the lever herself in disgust.</p>
  <p>Looking down on the steps of the square, the Townsfolk noticed an arrow painted in red. Following the arrow, they walked up to a house where again, in red paint, the words “TOO EASY” were scrawled on the side of a house.</p>
  <p>Whose house is this? Let’s see… It’s Sandeep’s house. Or at least it was. He won’t be needing it anymore.</p>
  <p>What will the townsfolk do?</p>

  <p class="lead">Day 3: Ha Ha Ha</p>

  <p>It’s difficult to say how things got decided by the mob of townsfolk but it was clear that their sights had been set.</p>
  <p>“Where’s Atkins?” the townsfolk screamed? Atkins was nowhere to be found in the square. “He must be in his house!” yelled another.</p>
  <p>The frenzied mob crossed the street without concern for their own safety and were narrowly missed by a delivery truck. “There’s his house!”, let’s get him.</p>
  <p>Bang, bang, bang at the door. Get out here Atkins you evil floof!</p>
  <p>Atkins knew what was coming and sighed. Calmly, Atkins opened the front door. “But I didn’t even have the fish!” he exclaimed as he was yanked out of his house and led to the square.</p>
  <p>As the noose was placed around his neck, Atkins looked away off into the distance. He knew it was over and there was nothing he could do.</p>
  <p>What the townsfolk didn’t notice was the signage on that delivery truck that almost hit them as they had hastily rushed to Atkins house.</p>
  <p>WEREWOLVES R US</p>
  <p>Not exactly inconspicuous, these werewolves were bold. And guess which house they pulled up to?</p>
  <p>A firm knock at the door (which was weird because due to social distancing delivery people typically don’t). The resident opened the door and was surprised. I don’t remember ordering anything?!? The delivery people carried the large box into the front hallway and closed the door behind them.</p>
  <p>As part of their renewed neighbourhood watch program, every Villager was checked on every night. This night they found the door slightly ajar and while investigating further they saw some packaging along with a coffin in the family room on the coffee table. Opening the coffin revealed the remains of Cory.</p>
  <p>What will the townsfolk do?</p>

  <p class="lead">Day 2: Sad Face</p>

  <p>Given the disappointment yesterday – where everyone had shiny tools ready for use but didn’t get to use them – the townsfolk instead spent the day cleaning their yards. As a side benefit, Joiston had never looked better. Fresh cut grass, crisp hedges and not a leaf in sight.</p>
  <p>Yet that’s where the joy ends. </p>
  <p>Later in the day, everyone met again in the square with their lightly used tools.</p>
  <p>The SEER has spoken! He has named Zach as being a werewolf. Zach, looking culpable, backed away from the group. “Whoa, whoa, whoa. This is all a misunderstanding” Zach exclaimed.</p>
  <p>A wolf howled in the distance and Zach couldn’t resist and he joined in “ARrooooooo”. Sensing the townsfolk were about to pounce on Zach, he sprinted for the edge of the square. But the Villagers closed in. </p>
  <p>Feeling trapped Zach started to transform. He suddenly grew and became exceedingly hairy. He lashed out as the group attacked him. Despite his effort to survive, the group easily snuffed out Zach. That’s for killing Yang!</p>
  <p>And as quickly as the group had formed, the group broke apart and people began to walk back to their homes.</p>
  <p>Matthew rushed into the square and saw Zach’s partially transformed body.</p>
  <p>“NO! Not Zach!” Matthew exclaimed. But it was too late, it was true Zach was dead. And without another word, Matthew crumpled to the ground and died on the spot.</p>
  <p>Later than night, someone noticed a light flickering violently through a window and weird shadows could be seen dancing in the candlelight. The people approached the window and peered into Vrunda’s house. It appears the werewolves paid her a visit. Poor Vrunda was the next victim.</p>
  <p>What will the townsfolk do?</p>

  <p class="lead">Day 1: A New Death</p>
  <p>Everyone entered Town Square and apparently there must have been a sale at Home Depot as everyone had a new tool of choice. Most had pitchforks but obviously they had sold out as one person had brought a rake (for raking leaves). It wasn’t going to be as effective BUT their town spirit was evident.</p>
  <p>“Go TEAM Villagers” one screamed. A chant – started by Matthew – of “Let’s go Villagers, let’s go” could be heard building along the edge of the square. Some considered starting “the wave” but most people stayed focused on the task at hand.</p>
  <p>People were out for blood and it seemed someone would surely be hanged this day.</p>
  <p>One group spoke:</p>
  <p>Clearly, this person, there, pointing to a non-gender specific person, they are the werewolf and must be hanged. While a second group exclaimed “No, this other person (also coincidently without gender specified) is the werewolf and THEY must be hanged. For a moment, the group was at an impasse. “I know!” one person said. Yang can help break this tie.</p>
  <p>As people looked around for Yang, they realized he wasn’t in the square. “I’ll go get him” said another non-descript townsperson. Don’t go alone others exclaimed.</p>
  <p>A knock at Yang’s front door brought no sound from inside. Upon entry to Yang’s place, the Villagers found what was left of Yang’s body. It was clear that Yang had made a run for it and had put up a good fight but was ultimately overwhelmed by the werewolves.</p>
  <p>Without Yang’s vote, no one broke the tie so no one was hanged.</p>
  <p>What will the townsfolk do?</p>

  <p class="lead">Day 0: A New Dawn</p>

  <p>Several years had passed and the town of Joiston had changed a lot. In fact, everyone that you might have known before as residents of Joiston had left the town. Any people now, although they might have the same name as someone from before, are not the same people. In addition, there are several new faces in town.</p>
  <p>Misery has visited Joiston again. This time it seems it has been a pack of wild dogs that live on the outskirts of town and roam the streets at night. There had been many close calls and these dogs have become confident, emboldened perhaps.</p>
  <p>As dawns breaks on this new day, we find a dead body in the square. As people exit their homes for the day, they exclaim “How could this have happened? We must do something about these dogs.”</p>
  <p>A passerby – let’s call him Jim for the purposes of the story – approaches the body and commands the attention of the townsfolk.</p>
  <p>“These are not dog bites!” Jim exclaimed! Many years ago when I lived here, Joiston was afflicted by wolves – WEREWOLVES. I thought we got rid of them then but it seems they’re back.</p>
  <p>What will the townsfolk do?</p>


  <script>
    var countDownDate = new Date("Nov 1, 2021 16:30:00-04:00").getTime();

    var x = setInterval(function() {
      var now = new Date().getTime();
      var distance = countDownDate - now;
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      document.getElementById("countdown").innerHTML = "Day 6 votes due in " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
      // document.getElementById("countdown").innerHTML = "Day 1 votes due in " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "Voting closed, the town sleeps...";
      }
    }, 1000);
  </script>

{{/layouts/base}}
