{{#> layouts/base title="Welcome to Joiston" }}

  <p class="lead">Day 5: Let's Get Organized</p>
  <p>It had taken a few days to break through the confusion, but when Jim spoke from the podium he finally felt certain his audience was listening and attentive. The stakes were higher than ever and the town was running out of time.</p>
  <p>"Alright. I've had the opportunity to consult and deliberate with many of you, and we've managed to grow a foundation of trust in each other."</p>
  <p>A few heads nodded in agreement. A few others didn't move an inch.</p>
  <p>"We know that together we outnumber the werewolves or else they would have simply overwhelmed us all in the night. I think we now know some names we can clear, which leaves-"</p>
  <p>"We don't know diddly squat!", railed one audience member, throwing a finger in the air. "I don't know you! And you don't know who might be spinnin you their fabricated stories up a tree, same as me!"</p>
  <p>Aldona noticed the speaker had what looked like a pillowcase stuffed in and hanging out of his pocket. She glanced at the burlap sacks his neighbours had tucked into their waistlines.</p>
  <p>"You're right," Jim continued, "we can't know for sure who is innocent, but we've been saying this all along- we need to stick together lest we get outnumbered."</p>
  <p>"Right. Outnumbered... but telling us who to hang..." muttered the pillowcase man as he motioned to his crew. They pulled their bags over their heads and shoved forward toward Jim.</p>
  <p>"No! No stop you are misunderstanding completely. We discussed! I do know who could be a werewolf! It's not me! It's.... it's..." Jim's eyes searched the room frantically,</p>
  <p>"We think it's her! Aldona! Yes, Aldona is a werewolf!"</p>
  <p>Everyone stopped and looked at Aldona for a reaction.</p>
  <p>"Wh-what? You can't be serious, Jim... Jim?"</p>
  <p>A meaty hand clamped her shoulder from behind, and a noose fell around her neck. Aldona jerked but couldn't break free.</p>
  <p>"No! Don't do this! You're going to regret this! You'll regret it Jim, BIG TIME"</p>
  <p>Aldona's claws were now extended as she slashed the men behind her. Her fangs snapped at the fingers holding the noose in place as a really bitchin wolf-flow spilled from her head. The masked vigilantes threw themselves at the Werewolf but were mostly useless without their pitchforks.</p>
  <p>Someone managed to get the other end of the rope up and over a nearby rafter, and heaved back until Aldona's feet left the ground. She continued lashing out around her but eventually everyone was out of reach. Her dangly dance didn't last very long.</p>
  <p>"I told you..." Jim pushed past and out of sight.</p>
  <p>---</p>
  <p>It was a long walk home and by now it was very late. Jim got inside on complete autopilot and fell into bed. He hadn't managed to totally close his front door however, and a large, furry figure loomed over the doorstep soon thereafter.</p>
  <p>A push on the door revealed a very dark interior. The ceiling was not particularly high, but finding the bedroom upstairs was easy. A gentle push started this door open as well, but as soon as it was open more than a foot- a dropkick to the snout came flying through the darkness. The werewolf was waxed on and waxed off, then thrown down the stairs and rolled out the door. The beast was completely taken by surprise and ran off into the night.</p>

  <p class="lead">Day 4: Joiston News Bulletin</p>

  <p>Two more bodies have been found under suspicious circumstances, bringing the October death count up to eight.</p>
  <p>An adult male was found dead yesterday evening, outside his home in South Joiston. The man has been identified as Shivam Dubey, longtime resident of the area. A witness, who wished to remain anonymous, was quoted as saying Dubey was brutally attacked by hooded gang members wielding a variety of gardening tools. "They was[sic] chanting about justice and werewolf hunting and just jumped up on him tending to his petunias. He ain't never hurt nobody[sic]." It does not appear the attackers were known to the victim and no arrests have been made.</p>
  <p>The remains of a second adult male were discovered on the roadside of Highway 31 early this morning. Emergency personnel were unable to resuscitate the victim of what appears to have been an animal attack inside of his car. The attack has been characterized as "highly unusual" by conservation officials. Personal identification found at the scene names the man as Jason Atkins, although dental records have yet to be validated.</p>
  <p>Federal investigators continue to investigate a string of homicides that have taken place in Joiston following the collapse of municipal services in the rioting earlier this month. Residents are encouraged to remain indoors where possible and avoid traveling alone at night.</p>
  <p><i>Source: EverComms Daily</i></p>

  <p class="lead">Day 3: An Eye For An Eye</p>

  <p>The sky was dreary and a thick fog had rolled in. Most townsfolk had been keeping out of sight avoid inclusion in any of their neighbours' paranoid conspiracies.</p>
  <p>Liz was at home minding her business when she heard a soft rap-tap-tap on her door. "Who is it?" She called, but there was no answer. She stepped out onto her porch to find no one was there. By her feet lay a spring of wolfsbane wrapped tightly in a note that was nearly identical to the one she'd found earlier in the Square. This time, the note spoke of a secret meeting after dusk.</p>
  <p>She noticed Tunji across the street on his own porch, adjusting his yellow wraparounds to focus on a similarly mysterious delivery. Tunji saw her looking over but didn't acknowledge her before heading back inside. Liz knew they could catch up at the meeting.</p>
  <p>Liz finished up what she was doing, threw on a sweater and headed out. The note had an address she was only vaguely familiar with, and she found herself winding through the narrow streets of Eastside Joiston. It was a quiet residential area, and most windows were shuttered and dark except for the odd flicker of candlelight glowing here and there.</p>
  <p>"I can <i>see</i> into your <i>soul</i>! Come to me that I might verify the light within you!", cooed the fortune teller from an open window as Liz continued past.</p>
  <p>She had no patience for swindlers. She doubled her pace and the street eventually opened up into an intersection with a small gathering of hooded figures holding torches and pitchforks. Someone handed her a ripped up potato sack and had her put it over her head, then handed her a rake.</p>
  <p>A man sprang onto the side of a lamppost and addressed the vision-impaired crowd of people bumping into each other,</p>
  <p>"The hour as arrived for Justice! For our Revenge! We know the identity of the cursed one among us, and we must act now, together! Follow me!"</p>
  <p>The mob immediately marched off down a side street. Left, then right, then right, then left... the way the streets bent it felt like they were turning back on themselves and going in circles until they arrived at a stretch of rundown rowhouses, and stopped at one doorway in particular.</p>
  <p><i>BAM BAM BAM</i> "Come out Manu, we know you're in there!"</p>
  <p>A window crashed in back of the homes, and the mob splintered. The front door was battered in while the majority of the group poured over to the side streets to apprehend Manu who'd likely escaped out the back.</p>
  <p>Manu was spotted running away at an inhuman pace, but several of the pursuers launched a barrage of flying pitchforks and managed to knock him down. They set upon him like ants on an ice cream cone and he began to transform... whiskers sprouted from his face and hands, fur and rippling muscle burst from the seams of his clothing, and claws extended from every finger and toe. Manu's red-yellow eyes flashed as hooded bodies were thrown back and crumpled. But the pitchforks and shovels continued to batter the Manu-Man-Beast until he wore down and gasped his final breath.</p>
  <p><i>Revennnnngeeeeeeee...</i> whispered Vrunda’s ghostly voice on the wind, and torches were thrust skyward in celebration.</p>
  <p>The relief and excitement was cut short by gargled screams out of a nearby alleyway. Liz still couldn't see very well and threw the sack off her head. She rounded the corner and saw <i>another</i> werewolf feasting on a stray mob-member it had dragged off. Liz recognized the yellow sunglasses that lay cracked on the pavement. The wolf turned to look at Liz, blood dripping from its maw. It sneered and dashed off into the night.</p>
  <p>"Tunji, noooooooo..... " Liz collapsed to her knees. More werewolves... they were everywhere. And Tunji gone... she couldn't carry on. Liz died of heartbreak.</p>

  <p class="lead">Day 2: Blood On Our Hands</p>

  <p>"Shame on you! Shame!" the old woman repeated helplessly. The mob was riled up into a frenzy, and a pair of the shrewder councilmen could see the crowd was lost. They scurried for an alleyway out of the Square, but were overtaken by a pack of jeering youths. Judge Harrod, known to be a good man, attempted to reason with the Mayor's assailants as they lobbed a length of rope over the crossbeam of the gallows and around the writhing man's neck. "We cannot behave in this way, he has done nothing wrong! We must talk about this logically!"</p>
  <p>The mob made good on their promise to rid their town of ineffectual windbags, but at what cost? The entire town council had been eliminated. The Sheriff and his deputy fared no better than the Judge at controlling the madness, and all three were the last to make their exit via the rope. Any semblance of social hierarchy had been completely shattered.</p>
  <p>Not everyone was flying off the rails though. Sandeep appeared quite satisfied, even oddly optimistic. "Such a shame... such a shame... but that should probably do it. And if more people die tonight, well... then I guess we'll know we have more work to do!"</p>
  <p>Jim was NOT satisfied with all this bloodshed. Or maybe that there hadn't yet been enough. "How can we be certain they weren't regular Villagers like the rest of us? How can we know all of the rest of us are innocents?"</p>
  <p>"Well as a fan of good times and good rhymes, I know I'm definitely not a Werewolf." Jason Slater crooned, gesturing to his freshly minted VILLAGER PEOPLE band tee.</p>
  <p>"Whoaaaa, yo Slater, where'd you get that? I love those guys!" exclaimed Matthew. "By the way I'm totally a Villager too."</p>
  <p>"Erm... limited edition, sorry man", Jason muttered as he hurried off to wash up. He'd suddenly noticed some errant splatters of fabric paint on his arms. The dull red ink wasn't scratching off with his fingers, and he didn't want anyone to get any wrong ideas.</p>
  <p>"Oh okay, no worries!" Matthew declared after him. That trendy tee had reminded him of his recent preoccupation with his two neighbors. If he could only figure out the perfect item... he had plans to wrap it up and drop it off on one of their doorsteps, alongside a sweet note signed from the other. "Gosh, a tshirt like that would be really great."</p>
  <p>Liz finished up a quick headcount of everyone left standing in the Square. "I'm not really certain, but by my estimates there are probably still Werewolves to be identified here."</p>
  <p>"You're probably right," agreed Matt, "and we need to take care of each other. I don't understand how guys like Sandeep over here can be fine with just checking out for the night."</p>
  <p>"What do you mean? You want to keep blindly killing each other off?", shot back Sandeep.</p>
  <p>"I mean that it's awfully suspicious you'd want to wait and see who the Werewolves might kill next. It seems a bit like you'd be fine with more Villagers dying off under cover of night."</p>
  <p>"<i>That does sound pretty sketchy</i>"</p>
  <p>"<i>What kind of a monster lets us all die?</i>"</p>
  <p>"<i>He's probably just looking to save his own skin.</i>"</p>
  <p>Paranoid considerations stewed and bubbled up within the agitated crowd. Focus turned more and more toward Sandeep.</p>
  <p><i>GET HIM</i></p>
  <p>Sandeep could see what was happening and managed to leap and haul himself up onto the awning of a nearby shop. He glanced around for a point of escape, but his would-be assailants had begun to slug and rattle at the beams holding him temporarily out of reach. He knew he was about to go down, but not without taking some of these fools with him. He swung his bow from his back, and let loose some arrows. His first target was that pesky Matthew, who took an arrow straight through the heart. He caught another person's arm, then a foot, but the awning had begun to shake furiously then collapsed.</p>
  <p>They set upon Sandeep and wrestled him over to the gallows to meet his end. He was strung up and dropped down. And he died.</p>
  <p>No fur, nor fangs. No howls, no snarls, no anything dramatic from  Sandeep or any of the other previous victims. Everyone became suddenly aware that what they had been doing was moving them no further ahead, and that they themselves were one random accusation away from being killed next. The Square cleared out soon thereafter.</p>
  <p>--</p>
  <p>The sun set and another sun rose, and the next morning Vrunda was found half devoured in her bed. The coroner didn't even bother filling out the paperwork. Everyone knew there were wolves to be hunted.</p>

  <p class="lead">Day 1: Enough Is Enough</p>

  <p>Mayor Wilkins squeezes his way through the crowd, weaving toward the edge of the fountain at the center of the Square. It looks like everyone's come out this morning. There would be much to discuss. Wilkins had read the coroner's report, and wasn't certain how much of it he should actually share. The document's medically precise account of the incident at Theresa Townsman's house was too disturbing to even consider repeating. That poor boy.</p>
  <p>"My fellow Joistonians! Today I am filled with a profound sadness. As I'm sure you've all heard by now, there was an unfortunate incident the other night involving a local mother and her child. We are still investigating the facts, but I am here before you today to confirm that the mother has unfortunately succumbed to her injuries sustained while resisting arrest. I can assure you that our town is safe and everything is under control."</p>
  <p>"<i>UNDER CONTROL??</i>", a voice roars from the crowd, "I heard she was DISEASED and OUTTA control! How do we know this isn't going to happen again?!"</p>
  <p>"My friends, my friends... I know these have been challenging times for all of us. Please try to remain calm and allow your leadership to handle this. We are expecting-"</p>
  <p>A chunk of Town Square brick thwops the Mayor in his chest, knocking him into the fountain with a splash.</p>
  <p>"We've been waiting months and months for relief! It's time to take matters into our own hands!", continues the anonymous voice as the crowd erupts into an unruly mob.</p>
  <p>A different, even louder voice pipes in, "We all knew Theresa Townsman, let's stop the dancin around it. That dog attack changed her, and it weren't no mutt... it were one of them WEREWOLVES! You politico bastards are probably ALL WEREWOLVES."</p>
  <p>Arms thrust forward and haul the now shrieking Mayor out of the water by his lapels. He is dragged toward the old gallows nearby...</p>
  <p>"We'll hang em all ourselves before they get us at night!"</p>

  <p class="lead">Day 0: It Begins</p>

  <p>An agitated howl in the distance reminds Timmy Townsman he's long since run out of time for scavenging deadfall. He hasn't been having much luck this evening anyway... the woods not far from the edge of town have been completely picked over for weeks now. He looks at the few meager branches he's managed to find and decides they'll have to do. Besides, his ailing mother would be anxiously awaiting his return before nightfall.</p>
  <p>The past fifteen months have been particularly hard on the residents of Joiston. Local farmland has been producing less and less food and the people are hangry. Economic activity has slowed to a halt, and it's uncommon to see people congregating outside of their immediate households.
  <p>Timmy manages to make it home and through the door just as the final rays of sunlight evaporate beyond the horizon. The woodstove provides enough of a faint glow to see his mother has managed to tuck herself into bed. She is restless and appears in the midst of another feverish nightmare. Timmy wets a towel at the sink and presses it gently to her forehead. Her physical recovery since the dog attack seems on the right track, but she has been taking on more and more extreme emotional states at night.</p>
  <p>The woodstove flickers- Timmy's cue to feed it another branch. He reminds himself to carefully ration the wood so it lasts until morning. Crouched down by the stove, he brings it back to life, causing new shadows to dance strangely across the room. He turns, and sees his mother towering suddenly over him, twisted and wild-eyed. It's his mother alright, but she's become nearly unrecognizable to Timmy. The glow of the room turns to darkness.</p>

{{/layouts/base}}
