{{#> layouts/base title="Welcome to Joistown" }}

  <div id="countdown">&nbsp;</div>

  <p class="lead">Day 3: Everyone Is Invited</p>
  <p>Alex and Sushani were first to respond at the Slater residence. It was an ugly sight to behold. Jason and Liz were dead, and neighbors were insistent Liz had transformed into some sort of Bigfoot-looking werewolf animal. They also said she wasn't alone in the attack.</p>
  <p>Alex noticed some blood on the bottom of his shoes and scuffed them clean on the lawn. "Well... if I believed in fairytales it certainly looks like what these folks are saying happened, happened. But I don't know... Liz? Really? It doesn't make sense."</p>
  <p>Sushani pulled back the tarp that had been laid down and inspected Liz's uniform. Hey Alex, have a look at this. Didn't the report say that Garfield stiff had a torn off piece of pant leg near 'im? Liz ain't got no torn pant leg. She couldn't have done it."</p>
  <p>"Sure maybe, but that's a pound of Slater's lead planted in her so I'm guessing she wasn't here to tuck him in goodnight."</p>
  <p>"Good point. Here comes the meat wagon. Let's call it a night and meet up at the station in the morning."</p>
  <p>---</p>
  <p>The station was quiet the next morning. Officers milled around discussing what had happened to Slater. And Liz. And Aldona. Valeriy was stapling posters up on the corkboard in the foyer. They each had a crudely drawn photo of a steak roasting over a campfire, and read:</p>
  <p><i>FULLL MOON PARTY.<br />TONIGHT 9PM.<br />ACKBAR PARK.</i></p>
  <p>He stepped back to admire his work, nodded, and went back to his desk.</p>
    <p>The Chief came out of his office and called everyone around him.</p>
  <p>"Look umm... I know this has been a rough year for the department. We trust our gut... and may not always do things by the book, but we always get results in the end, damnit. We're going to find this so-called "were-wolf", he gestured with airquotes.</p>
  <p>The Chief waited for response, and an awkward silence followed as the officers were uncertain if the Chief was finished or would continue on to make some sort of point.</p>
  <p>"Let's just go and lay down some justice for our lost brothers and sisters." He turned and ducked back into his office, closing he door behind him.</p>
  <p>---</p>
  <p>It was 8:55pm, and Brendan was set up with his lawnchair, binoculars, and box of popcorn in the bushes on the edge of Ackbar Park. He had been to the police station earlier in the day to report some missing invoices he had been expecting, and noticed the party posters on the wall. He wasn't planning to get involved per se, he just liked to watch.</p>
  <p>It seemed Alex had also taken note of the posters and wandered into the park not long afterward. He still wasn't convinced there were werewolves, but he wondered if he might pick up some easy tickets for illegal open fires on public property.</p>
  <p>The other officers all watched invisibly from their own bushes as he wandered around not finding any partyers in the park at this hour.</p>
  <p>"That's it, I'm moving in," one of the officers rasped impatiently. It was too dark to tell who it was.</p>
  <p>All of the officers emerged and surrounded Alex in a circle.</p>
  <p>"Whoa hey what's going on guys?" Alex said, surprised.</p>
  <p>"We might ask you the same thing. Maybe out here looking for a bbq? Some fresh meat?"</p>
  <p>"Uhmmm noo... I was doing some police work. My job. I'm not sure why you're all treating me suspiciously for doing regular police things."</p>
  <p>"Sounds exactly like something a werewolf would say!"</p>
  <p>"What? That doesn't- you're not making any sense!"</p>
  <p><i>GET HIM.</i></p>
  <p>All at once and together they rushed Alex and beat him down to the ground as one of them knotted up a park garden hose into a noose.</p>
  <p>"Guys. Guys. This... is ridiculous. Stop."</p>
  <p>The rubber noose slipped over his head, and he was hoisted up into a tree where he perished. But his body didn't transform or sprout whiskers, or anything they expected, and they all started to worry someone might have seen what they'd done. They fled the scene.</p>
  <p>Sushani fled particularly quickly and slammed into Brendan who was tugging his peeping gear out of his spot. They both fell and became entangled in Brendan's bush.</p>
  <p>Capitalizing upon their vegetation complication, they were set upon by a werewolf who ate them both up. Bones, clothes, and all.</p>

  <p class="lead">Day 2: Hold The Line</p>
  <p>Quite the mob had developed around the police station. Chants of "Defund The Police!" were intermixed with calls for the Chief's resignation. It was later in the afternoon now and officers were filing in through the back door off the station's alleyway.</p>
  <p>Liz squeezed roughly through the front door and slammed it shut with her body.</p>
  <p>"Those bastards! With everything we do for them you'd think they'd have a little more respect and let us do our jobs!"</p>
  <p>"Well this time those sheeple out there may have a point. Are we missing anyone here? Everyone I talked to today was convinced the killer is someone with a badge... as far as I'm concerned you're all suspects for the Chief."</p>
  <p>"Well the Chief ain't here yet is he", sneered Officer Slater. Maybe you ought to keep your nose clean and think about holdin the line like the rest of us. I know I ain't no killer. Unless someone deserves it."</p>
  <p>The room started to get a lot more crowded around Aldona.</p>
  <p>"It's a shame there's a dirty rat cop everyone's got pegged as the killer, hey Aldona," piped one of the others. "I bet the mayor would be real pleased if he heard we took em out."</p>
  <p>Aldona made a dash for the backdoor but was overwhelmed. One of the sketchier coppers yanked out a bootlace and jerked it around Aldona's neck from behind. She struggled for air... and unceremoniously blacked out, permanently.</p>
  <p>"Case closed."</p>
  <p>...</p>
  <p>One of the officers fed the story to their man on the street, Max Joliet, who was more than happy to run with the splashy story of Aldona the killer cop, taken down by her peers once they'd finally cracked the case. It would print in the morning, and the people of Joistown could breathe a sigh of relief.</p>
  <p>Jason Slater was now at home taking out the nightly garbage,  re-running the day's events through his head. He was pretty sure Aldona was a good cop, but her probing internally might have taken them all down. He'd be able to reconcile what they'd done in his head by morning.</p>
  <p>He looked up from the trash can and saw a group of shadowy figures not ten feet away. The houselights reflected off their eyes and appeared to glow in sickly red-yellow swirls.</p>
  <p>Jason reached for his service weapon and straight up blasted one. The stopping power of his piece proved not enough for the beastly animals that rushed him and they began tearing him to shreds. He managed to get off the last of his rounds and clipped his target werebeast with a few more in the neck. Putrid, puss-filled liquid sprayed from the animal as it slumped to the ground. It wriggled and transformed back into humanly, Liz-shaped form.</p>
  <p>Then Slater finally died, and a short feast was had.</p>
  <p>...</p>
  <p>The morning paper arrived, and Eula took once glance at the headline: Aldona She-Gone-a.</p>
  <p>"Ohhhh my beloved!"</p>
  <p>Eula clutched at her chest and died of heartbreak.</p>

  <p class="lead">Day 1: You Have Your Assignments</p>

  <p>The coffee was nearly all poured out and seating was limited in the station briefing room. Detectives eyed each other quietly from the rows of tablet desks.</p>
  <p>"Listen up!"</p>
  <p>The Chief entered briskly from the entrance at the front of the room.</p>
  <p>"And close that door at the back there! Look, I know half of you just transferred in and don't know your beltbuckle from your anklebone, but we've got a real sick set of individuals out there on this one and no time for hand-holding."</p>
  <p>He produced a stack of papers from behind the podium at the front of the room, which were disseminated through the rows.</p>
  <p>"Homer Garfield, 32: attacked while jogging in Jubilee Park, dead. Oprah Jetson, 27, and her grandmother Wilma, 63: mauled in the supermarket in broad daylight! The list goes on... the circumstances of the scenes indicate multiple truly violent offenders working together. You'll see from these reports that we have virtually no leads at this time, which I'm counting on you for. A-S-A-P.</p>
  <p>As I'm sure you've also noticed by now, this department lacks the resources to formally partner you up as your orientation officer may have previously explained, but I expect you'll work together where you can. This room will be left open as a strategic point of information sharing. Now get the hell out of here and get me a suspect by 4:30!"</p>
  <p>---</p>
  <p>"EXTRA EXTRA! SERIAL KILLER COP ON THE LOOSE!"</p>
  <p>"Hey kid, gimme one a those."</p>
  <p>"Sure thing mister, that'll be a dime."</p>
  <div style="border: solid black 1px; background: white; padding: 10px;">
    <p><i>Joliet, M. (2022, June 8). KILLER COP. Joistown Evening Tribune, p. 1.</i></p>
    <p>Anonymous sources confirm a shred of bloodied fabric discovered near Homer Garfield's remains are a match with those used in standard issue police uniforms. Local PD continues to refuse comment, citing "ongoing investigations" as residents begin to gather outside of the department headquarters.</p>
    <p>Mayor Wilkins has issued a public statement calling for an immediate inquiry into all police whereabouts Tuesday evening, along with an inventory of all PD member uniforms and their present conditions.</p>
    <p>Stay tuned for more new news as it brews, dear readers, care of your man on the street, Max Joliet.</p>
  </div>

  <p class="lead">Day 0: Who Is Accounted For</p>

  <p>Stan Spade slotted the stack of crimescene photos back into their envelope and tossed the wad across his desk. This wasn't the usual flophouse fisticuffs gone wrong- <i>these stiffs was all shredded up like cheese on a grater</i>. The press was gonna eat this up once they found out, and he knew he'd have the Chief riding his keister 'til it got sorted.</p>
  <p>"Maybe I should leave these files right where I found em", Stan thought to himself. "Right there on the crummy desk. I'm getting too old for this... leave the badge, retire... maybe finally find a nice dame somewhere. Live the quiet life... aw who am I kiddin', that life ain't for me."</p>
  <p>Stan lit a cigarette, and thought about his next move. It was already late, and he knew he would need help on this one. But he also wasn't sure who he could trust. IA had been going hard on corruption in the force lately, and no one was exactly in a helpin' sort of mood.</p>
  <p>He heard what sounded like howling in the distance. It didn't quite sound like the wailing of a squadcar siren, but it was far enough away that who could tell.</p>
  <p>Stan tapped out his cig, put on his hat, grabbed his coat and headed for the door. He'd take a few days to think about the case, and which of the other detectives he could count on to not mess this one up. Hopefully it would stay out of the press until then.</p>
  <p>---</p>
  <p style="color:red">YOU are a criminal investigator with the Joistown PD. The Chief has called a meeting in the briefing room, Wednesday morning at 9am EST, to discuss a series of grisly homicides that were discovered this week.</p>
  <p>---</p>
  <p>The game will begin next Wednesday at 9:00am EST. If you choose to participate, DM or email Cory to confirm before end of day Friday. I’m anticipating we may have a large number of players, so you may be partnered up with another detective when working out your investigation.</p>
  <p><img src="img/desk.webp" style="display: block; margin-left: auto;margin-right: auto;width: 50%;"></p>

  <script>
    var countDownDate = new Date("Jun 10, 2022 16:30:00-04:00").getTime();

    var x = setInterval(function() {
      var now = new Date().getTime();
      var distance = countDownDate - now;
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      document.getElementById("countdown").innerHTML = "Day 3 votes due in " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
      // document.getElementById("countdown").innerHTML = "Day 1 votes due in " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
      // document.getElementById("countdown").innerHTML = "Game begins in " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "Voting closed, the town sleeps...";
        //document.getElementById("countdown").innerHTML = "The game has ended.";
      }
    }, 1000);
  </script>

{{/layouts/base}}
