{{#> layouts/base title="Welcome to Joiston" }}

  <p class="lead">Day 2: Blood On Our Hands</p>

  <p>"Shame on you! Shame!" the old woman repeated helplessly. The mob was riled up into a frenzy, and a pair of the shrewder councilmen could see the crowd was lost. They scurried for an alleyway out of the Square, but were overtaken by a pack of jeering youths. Judge Harrod, known to be a good man, attempted to reason with the Mayor's assailants as they lobbed a length of rope over the crossbeam of the gallows and around the writhing man's neck. "We cannot behave in this way, he has done nothing wrong! We must talk about this logically!"</p>
  <p>The mob made good on their promise to rid their town of ineffectual windbags, but at what cost? The entire town council had been eliminated. The Sheriff and his deputy fared no better than the Judge at controlling the madness, and all three were the last to make their exit via the rope. Any semblance of social hierarchy had been completely shattered.</p>
  <p>Not everyone was flying off the rails though. Sandeep appeared quite satisfied, even oddly optimistic. "Such a shame... such a shame... but that should probably do it. And if more people die tonight, well... then I guess we'll know we have more work to do!"</p>
  <p>Jim was NOT satisfied with all this bloodshed. Or maybe that there hadn't yet been enough. "How can we be certain they weren't regular Villagers like the rest of us? How can we know all of the rest of us are innocents?"</p>
  <p>"Well as a fan of good times and good rhymes, I know I'm definitely not a Werewolf." Jason Slater crooned, gesturing to his freshly minted VILLAGER PEOPLE band tee.</p>
  <p>"Whoaaaa, yo Slater, where'd you get that? I love those guys!" exclaimed Matthew. "By the way I'm totally a Villager too."</p>
  <p>"Erm... limited edition, sorry man", Jason muttered as he hurried off to wash up. He'd suddenly noticed some errant splatters of fabric paint on his arms. The dull red ink wasn't scratching off with his fingers, and he didn't want anyone to get any wrong ideas.</p>
  <p>"Oh okay, no worries!" Matthew declared after him. That trendy tee had reminded him of his recent preoccupation with his two neighbors. If he could only figure out the perfect item... he had plans to wrap it up and drop it off on one of their doorsteps, alongside a sweet note signed from the other. "Gosh, a tshirt like that would be really great."</p>
  <p>Liz finished up a quick headcount of everyone left standing in the Square. "I'm not really certain, but by my estimates there are probably still Werewolves to be identified here."</p>
  <p>"You're probably right," agreed Matt, "and we need to take care of each other. I don't understand how guys like Sandeep over here can be fine with just checking out for the night."</p>
  <p>"What do you mean? You want to keep blindly killing each other off?", shot back Sandeep.</p>
  <p>"I mean that it's awfully suspicious you'd want to wait and see who the Werewolves might kill next. It seems a bit like you'd be fine with more Villagers dying off under cover of night."</p>
  <p>"<i>That does sound pretty sketchy</i>"</p>
  <p>"<i>What kind of a monster lets us all die?</i>"</p>
  <p>"<i>He's probably just looking to save his own skin.</i>"</p>
  <p>Paranoid considerations stewed and bubbled up within the agitated crowd. Focus turned more and more toward Sandeep.</p>
  <p><i>GET HIM</i></p>
  <p>Sandeep could see what was happening and managed to leap and haul himself up onto the awning of a nearby shop. He glanced around for a point of escape, but his would-be assailants had begun to slug and rattle at the beams holding him temporarily out of reach. He knew he was about to go down, but not without taking some of these fools with him. He swung his bow from his back, and let loose some arrows. His first target was that pesky Matthew, who took an arrow straight through the heart. He caught another person's arm, then a foot, but the awning had begun to shake furiously then collapsed.</p>
  <p>They set upon Sandeep and wrestled him over to the gallows to meet his end. He was strung up and dropped down. And he died.</p>
  <p>No fur, nor fangs. No howls, no snarls, no anything dramatic from  Sandeep or any of the other previous victims. Everyone became suddenly aware that what they had been doing was moving them no further ahead, and that they themselves were one random accusation away from being killed next. The Square cleared out soon thereafter.</p>
  <p>--</p>
  <p>The sun set and another sun rose, and the next morning Vrunda was found half devoured in her bed. The coroner didn't even bother filling out the paperwork. Everyone knew there were wolves to be hunted.</p>

  <p class="lead">Day 1: Enough Is Enough</p>

  <p>Mayor Wilkins squeezes his way through the crowd, weaving toward the edge of the fountain at the center of the Square. It looks like everyone's come out this morning. There would be much to discuss. Wilkins had read the coroner's report, and wasn't certain how much of it he should actually share. The document's medically precise account of the incident at Theresa Townsman's house was too disturbing to even consider repeating. That poor boy.</p>
  <p>"My fellow Joistonians! Today I am filled with a profound sadness. As I'm sure you've all heard by now, there was an unfortunate incident the other night involving a local mother and her child. We are still investigating the facts, but I am here before you today to confirm that the mother has unfortunately succumbed to her injuries sustained while resisting arrest. I can assure you that our town is safe and everything is under control."</p>
  <p>"<i>UNDER CONTROL??</i>", a voice roars from the crowd, "I heard she was DISEASED and OUTTA control! How do we know this isn't going to happen again?!"</p>
  <p>"My friends, my friends... I know these have been challenging times for all of us. Please try to remain calm and allow your leadership to handle this. We are expecting-"</p>
  <p>A chunk of Town Square brick thwops the Mayor in his chest, knocking him into the fountain with a splash.</p>
  <p>"We've been waiting months and months for relief! It's time to take matters into our own hands!", continues the anonymous voice as the crowd erupts into an unruly mob.</p>
  <p>A different, even louder voice pipes in, "We all knew Theresa Townsman, let's stop the dancin around it. That dog attack changed her, and it weren't no mutt... it were one of them WEREWOLVES! You politico bastards are probably ALL WEREWOLVES."</p>
  <p>Arms thrust forward and haul the now shrieking Mayor out of the water by his lapels. He is dragged toward the old gallows nearby...</p>
  <p>"We'll hang em all ourselves before they get us at night!"</p>

  <p class="lead">Day 0: It Begins</p>

  <p>An agitated howl in the distance reminds Timmy Townsman he's long since run out of time for scavenging deadfall. He hasn't been having much luck this evening anyway... the woods not far from the edge of town have been completely picked over for weeks now. He looks at the few meager branches he's managed to find and decides they'll have to do. Besides, his ailing mother would be anxiously awaiting his return before nightfall.</p>
  <p>The past fifteen months have been particularly hard on the residents of Joiston. Local farmland has been producing less and less food and the people are hangry. Economic activity has slowed to a halt, and it's uncommon to see people congregating outside of their immediate households.
  <p>Timmy manages to make it home and through the door just as the final rays of sunlight evaporate beyond the horizon. The woodstove provides enough of a faint glow to see his mother has managed to tuck herself into bed. She is restless and appears in the midst of another feverish nightmare. Timmy wets a towel at the sink and presses it gently to her forehead. Her physical recovery since the dog attack seems on the right track, but she has been taking on more and more extreme emotional states at night.</p>
  <p>The woodstove flickers- Timmy's cue to feed it another branch. He reminds himself to carefully ration the wood so it lasts until morning. Crouched down by the stove, he brings it back to life, causing new shadows to dance strangely across the room. He turns, and sees his mother towering suddenly over him, twisted and wild-eyed. It's his mother alright, but she's become nearly unrecognizable to Timmy. The glow of the room turns to darkness.</p>

{{/layouts/base}}
