{{#> layouts/base title="Welcome to Joistown" }}

  <div id="countdown">&nbsp;</div>

  <p class="lead">Day 0: Who Is Accounted For</p>

  <p>Stan Spade slotted the stack of crimescene photos back into their envelope and tossed the wad across his desk. This wasn't the usual flophouse fisticuffs gone wrong- <i>these stiffs was all shredded up like cheese on a grater</i>. The press was gonna eat this up once they found out, and he knew he'd have the Chief riding his keister 'til it got sorted.</p>
  <p>"Maybe I should leave these files right where I found em", Stan thought to himself. "Right there on the crummy desk. I'm getting too old for this... leave the badge, retire... maybe finally find a nice dame somewhere. Live the quiet life... aw who am I kiddin', that life ain't for me."</p>
  <p>Stan lit a cigarette, and thought about his next move. It was already late, and he knew he would need help on this one. But he also wasn't sure who he could trust. IA had been going hard on corruption in the force lately, and no one was exactly in a helpin' sort of mood.</p>
  <p>He heard what sounded like howling in the distance. It didn't quite sound like the wailing of a squadcar siren, but it was far enough away that who could tell.</p>
  <p>Stan tapped out his cig, put on his hat, grabbed his coat and headed for the door. He'd take a few days to think about the case, and which of the other detectives he could count on to not mess this one up. Hopefully it would stay out of the press until then.</p>
  <p>---</p>
  <p style="color:red">YOU are a criminal investigator with the Joistown PD. The Chief has called a meeting in the briefing room, Monday morning at 9am EST, to discuss a series of grisly homicides that were discovered this week.</p>
  <p>---</p>
  <p>The game will begin next Wednesday at 9:30am EST. If you choose to participate, DM or email Cory to confirm before end of day Friday. I’m anticipating we may have a large number of players, so you may be partnered up with another detective when working out your investigation.</p>
  <p><img src="img/desk.webp" style="display: block; margin-left: auto;margin-right: auto;width: 50%;"></p>

  <script>
    var countDownDate = new Date("Jun 8, 2022 9:00:00-04:00").getTime();

    var x = setInterval(function() {
      var now = new Date().getTime();
      var distance = countDownDate - now;
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      document.getElementById("countdown").innerHTML = "Game begins in " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
      // document.getElementById("countdown").innerHTML = "Day 1 votes due in " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        //document.getElementById("countdown").innerHTML = "Voting closed, the town sleeps...";
        document.getElementById("countdown").innerHTML = "The game has ended.";
      }
    }, 1000);
  </script>

{{/layouts/base}}
