{{#> layouts/base title="Players" }}

  <div class="card-group">

    {{#each players}}
      <div class="card">
        <div class="photo"><img class="card-img-top" src="img/players/{{ toLowerCaseSquashed this }}.jpg" alt="{{ this }}"></div>
        <div class="card-body">
          <h5 class="card-title">{{ this }}</h5>
        </div>
      </div>
    {{/each}}

  </div>

{{/layouts/base}}
