{{#> layouts/base title="Players" }}

  <div class="card-group">

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/aldona.jpg" alt="Aldona"></div>
      <div class="card-body">
        <h5 class="card-title">Aldona</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/atinder.jpg" alt="Atinder"></div>
      <div class="card-body">
        <h5 class="card-title">Atinder</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/janki.jpg" alt="Janki"></div>
      <div class="card-body">
        <h5 class="card-title">Janki</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/jasona.jpg" alt="Jason A"></div>
      <div class="card-body">
        <h5 class="card-title">Jason A</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/jasons.jpg" alt="Jason S"></div>
      <div class="card-body">
        <h5 class="card-title">Jason S</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/jim.jpg" alt="Jim"></div>
      <div class="card-body">
        <h5 class="card-title">Jim</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/liz.jpg" alt="Liz"></div>
      <div class="card-body">
        <h5 class="card-title">Liz</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/manu.jpg" alt="Manu"></div>
      <div class="card-body">
        <h5 class="card-title">Manu</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/matthew.jpg" alt="Matthew"></div>
      <div class="card-body">
        <h5 class="card-title">Matthew</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/rajat.jpg" alt="Rajat"></div>
      <div class="card-body">
        <h5 class="card-title">Rajat</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/sandeep.jpg" alt="Sandeep"></div>
      <div class="card-body">
        <h5 class="card-title">Sandeep</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/shivam.jpg" alt="Shivam"></div>
      <div class="card-body">
        <h5 class="card-title">Shivam</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/tunji.jpg" alt="Tunji"></div>
      <div class="card-body">
        <h5 class="card-title">Tunji</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/vrunda.jpg" alt="Vrunda"></div>
      <div class="card-body">
        <h5 class="card-title">Vrunda</h5>
      </div>
    </div>

    <div class="card">
      <div class="photo"><img class="card-img-top" src="img/players/yang.jpg" alt="Yang"></div>
      <div class="card-body">
        <h5 class="card-title">Yang</h5>
      </div>
    </div>

  </div>

{{/layouts/base}}
