{{#> layouts/base title="Players" }}

  <div class="card-group">

    {{#each players}}
      <div class="card {{#if dead}}dead{{/if}}">
        <div class="photo"><img class="card-img-top" src="img/players/{{ toLowerCaseSquashed name }}.jpg" alt="{{ name }}"></div>
        <div class="card-body">
          <h5 class="card-title">{{ name }}</h5>
        </div>
      </div>
    {{/each}}

  </div>

{{/layouts/base}}
