{{#> layouts/base title="Players" }}

  <p>
    Pairs of players represent a single in-game character.
  </p>

  <div class="card-group">

    {{#each players}}
      <div class="card {{#if dead}}dead{{/if}}">
        <div class="photo"><img class="card-img-top" src="img/players/{{ toLowerCaseSquashed name }}.jpg" alt="{{ name }}"></div>
        <div class="card-body">
          <h5 class="card-title">{{ name }} {{ role }}</h5>
        </div>
      </div>
    {{/each}}

  </div>

  <br/><br/>NPCs:
  <div class="card-group">
      <div class="card">
        <div class="photo"><img class="card-img-top" src="img/players/liz.jpg" alt="Liz"></div>
        <div class="card-body">
          <h5 class="card-title">Liz</h5>
        </div>
      </div>
  </div>

  <br/><br/>Moderator:
  <div class="card-group">
      <div class="card">
        <div class="photo"><img class="card-img-top" src="img/players/cory.jpg" alt="Cory"></div>
        <div class="card-body">
          <h5 class="card-title">Cory</h5>
        </div>
      </div>
  </div>

{{/layouts/base}}
