{{#> layouts/base title="Roles" }}

  <p class="lead">Villager</p>
  <ul>
    <li>Good</li>
    <li>Wins if all Werewolves are killed.</li>
    <li>Votes each day to hang one player they suspect to be a Werewolf.</li>
  </ul>

  <p class="lead">Werewolf</p>
  <ul>
    <li>Evil</li>
    <li>Wins if there are at least as many Werewolves as Villagers left in the game.</li>
    <li>Werewolves always know the identity of all other Werewolves.</li>
    <li>Votes unanimously each day to kill and eat one player.</li>
  </ul>

  <p class="lead">Seer</p>
  <ul>
    <li>Good</li>
    <li>A Villager with special powers.</li>
    <li>Chooses another player each day, and Sees whether they are Good or Evil.</li>
  </ul>

  <p class="lead">Hunter</p>
  <ul>
    <li>Good</li>
    <li>A Villager with special powers.</li>
    <li>If the Hunter is killed, they may choose to kill any other player as they are dying.</li>
  </ul>

  <p class="lead">Bodyguard</p>
  <ul>
    <li>Good</li>
    <li>A Villager with special powers.</li>
    <li>Chooses a player each day to protect from the Werewolves at night.</li>
    <li>Can protect themself.</li>
    <li>Cannot protect the same player two nights in a row.</li>
  </ul>

  <p class="lead">Cupid</p>
  <ul>
    <li>Good</li>
    <li>A Villager with special powers.</li>
    <li>Choose two other players to become Lovers at the beginning of the game.</li>
    <li>Note: Cupid will not know if whether either selected player has also already been assigned as a Werewolf.</li>
  </ul>

  <p class="lead">Lovers</p>
  <ul>
    <li>The fates of the two Lovers are forever intertwined by the Cupid.</li>
    <li>The Lovers know each other's identity.</li>
    <li>If one of the Lovers dies, the other Lover immediately dies of heartbreak.</li>
    <li>If one Lover is a Villager and the other a Werewolf, all other players must die in order for them to win.</li>
  </ul>

{{/layouts/base}}
