{{#> layouts/base title="Rules" }}

  <p>Werewolf is a social game of deception and deductive reasoning. <a href="https://en.wikipedia.org/wiki/Mafia_(party_game)">Wikipedia</a></p>
  <p></p>
  <p>Objective:
    <ul>
      <li>If you are a Regular Cop (Good), kill all the Werewolves.</li>
      <li>If you are a Werewolf Cop (Evil), kill all the Regular Cops.</li>
    </ul>
  </p>
  <p>Setup:</p>
    <ul style="list-style-type: none;">
      <li>
        All players are secretly assigned roles. Be careful who you reveal yourself to, it's a matter of life and death!
        <ul>
          <li>Werewolves randomly assigned.</li>
          <li>Cupid randomly assigned, who chooses Lovers.</li>
          <li>Remaining roles are randomly assigned.</li>
        </ul>
      </li>
    </ul>
  <p>The game progresses on a day/night cycle, aligning with each business day (Eastern/Toronto Timezone):
    <ul>
      <li>9:00am - Players discover who was killed the night before. Special roles receive any extra information in secret.</li>
      <li>Throughout the day:</li>
      <ul>
        <li>Players discuss who to vote to hang as a Werewolf later that evening.</li>
        <li>Werewolves discuss who to unanimously vote to eat at night.</li>
      </ul>
      <li>4:30pm - Hard deadline for Slack messsaging votes to @Cory</li>
    </ul>
  </p>
  <p>A <a href="https://joist.slack.com/messages/werewolf-jpd-station/">#werewolf-jpd-station</a> Slack channel which acts as the Joistown Police Station, for public discussion amongst all active players.</p>
  <p>Players who die are out of the game, and <b>must not talk to remaining players about the game</b> until it is over.</p>
  <p>The FAQ will be updated with game questions and clarifications as needed.</p>

{{/layouts/base}}
